<!--Heading: Populate the title-->
<% if (title) { %>
  <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>

<!--Message placeholder-->
  <%# messages() %>

  <!--Display results grid-->
  <%- grid %>
